# Gabriele Baldassarre Personal Blog
# Copyright (C) 2025 Gabriele Baldassarre
# 
# Permission is hereby granted, free of charge, to any person obtaining a copy
# of this software and associated documentation files (the "Software"), to deal
# in the Software without restriction, including without limitation the rights
# to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
# copies of the Software, and to permit persons to whom the Software is
# furnished to do so, subject to the following conditions:
# 
# The above copyright notice and this permission notice shall be included in all
# copies or substantial portions of the Software.
# 
# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
# IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
# FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
# AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
# LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
# OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE 
# SOFTWARE.

title:            "Gabriele Baldassarre"
description:      "Pochi grassi e ingredienti rigorosamente POSIX standard"
copyright:        "Gabriele Baldassarre"
       

future:      false  # publish future dated posts --  true, false (default) 
highlighter: rouge
markdown:    kramdown

# Site Settings
locale                   : it-IT
lang                     : it_IT
title                    : "Gabriele Baldassarre"
title_separator          : "|"
name                     : "Gabriele Baldassarre"
description              : "Pochi grassi e ingredienti rigorosamente POSIX standard"
url                      : "https://gabrielebaldassarre.com"
baseurl                  : "/"
repository               : "theclue/gabrielebaldassarre.com"
teaser                   : "/assets/images/default-post-teaser.png"
words_per_minute         : 150
atom_feed:
  hide                   : false
  path                   : # blank (default) uses feed.xml

search                   : # true, false (default)
search_full_content      : # true, false (default)
search_provider          : # lunr (default), algolia, google
algolia:
  application_id         : # YOUR_APPLICATION_ID
  index_name             : # YOUR_INDEX_NAME
  search_only_api_key    : # YOUR_SEARCH_ONLY_API_KEY
  powered_by             : # true (default), false
google:
  search_engine_id       : # YOUR_SEARCH_ENGINE_ID
  instant_search         : # false (default), true

# SEO Related
google_site_verification :
bing_site_verification   :
yandex_site_verification :
naver_site_verification  :

# Analytics
analytics:
  provider               : "google-gtag" # false (default), "google-gtag", "custom"
  google:
    tracking_id          : "GTM-WH4NHF"


# Site Author
author:
  name             : "Gabriele Baldassarre"
  avatar           : "/assets/images/gabriele-baldassarre.png"
  bio              : "Ingegnere per professione, maker per passione, mi occupo di divulgazione scientifica, di cloud computing e di tenere il cervello sempre acceso."
  location         : "Milano, Italia"
  email            :
  links:
    - label: "GitHub"
      icon: "fab fa-github fa-1x"
      url: "https://github.com/theclue"
    - label: "LinkedIn"
      icon: "fab fa-linkedin fa-1x"
      url: "https://www.linkedin.com/in/gabrielebaldassarre"
    - label: "Goodreads"
      icon: "fab fa-goodreads fa-1x"
      url: "https://goodreads.com/theclue"

# Reading Files
include:
  - .htaccess
  - _pages
exclude:
  - "*.sublime-project"
  - "*.sublime-workspace"
  - vendor
  - .asset-cache
  - .bundle
  - .jekyll-assets-cache
  - .sass-cache
  - assets/js/plugins
  - assets/js/_main.js
  - assets/js/vendor
  - Capfile
  - CHANGELOG
  - config
  - Gemfile
  - Gruntfile.js
  - gulpfile.js
  - LICENSE
  - log
  - node_modules
  - package.json
  - package-lock.json
  - Rakefile
  - README
  - tmp
  - /docs # ignore Minimal Mistakes /docs
  - /test # ignore Minimal Mistakes /test
  - R
  - ".rvmrc"
  - ".rbenv-version"
  - "README.md"
  - ".gitlab-ci.yml"
  - ".gitlab-ci.yml-dist"
  - "Dockerfile"
  - "default.conf"
  - helm
  - .Rproj.user
  - containers
  - Makefile
  - bin
  - "*.Rmd"

keep_files:
  - .git
  - .svn

# Conversion
markdown: kramdown
highlighter: rouge
lsi: false
excerpt_separator: "\n\n"
incremental: false

encoding: "utf-8"
markdown_ext: "markdown,mkdown,mkdn,mkd,md"


# Markdown Processing
kramdown:
  input: GFM
  hard_wrap: false
  auto_ids: true
  footnote_nr: 1
  entity_output: as_char
  toc_levels: 1..6
  smart_quotes: lsquo,rsquo,ldquo,rdquo
  enable_coderay: false


# Sass/SCSS
sass:
  sass_dir: _sass
  style: compressed # http://sass-lang.com/documentation/file.SASS_REFERENCE.html#output_style


# Outputting
permalink: /:slugified_categories/:title/
paginate: 10 # amount of posts to show
paginate_path: /page:num/
timezone: # Europe/Rome


# Plugins (previously gems:)
plugins:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jemoji
  - jekyll-mentions
  - jekyll-redirect-from
  - liquid_pluralize
  - liquid_reading_time
  - jekyll-feed
  - jekyll-include-cache
  - kramdown-parser-gfm 

# mimic GitHub Pages with --safe
whitelist:
  - jekyll-paginate
  - jekyll-gist
  - jemoji
  - jekyll-redirect-from
  - liquid_pluralize
  - liquid_reading_time
  - jekyll-feed
  - jekyll-include-cache


# HTML Compression
# - http://jch.penibelst.de/
compress_html:
  clippings: all
  ignore:
    envs: development

# scripts
head_scripts:
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js
  - https://code.jquery.com/jquery-3.7.1.min.js

after_footer_scripts:
  - //s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5d790b1b248d9eaf

# Defaults
defaults:
  # _posts
  - scope:
      path: ""
      type: posts
    values:
      layout: post
      author_profile: true
      read_time: true
      share: true
      related: true
      toc: true
      toc_label: "Indice"
      toc_sticky: true
  # _pages
  - scope:
      path: "_pages"
      type: pages
    values:
      layout: page
      author_profile: true
      read_time: false
      toc: false
      toc_label: "Indice"
      toc_sticky: true
      related: false
  - scope:
      path: '/assets/*.js'
    values:
      sitemap: false
