---
layout: post-index
title: Blog
header:
  teaser: /assets/images/gabriele-baldassarre-teaser.jpg
---

{% unless paginator.previous_page %}
<article class="intro">
  <div class="grid two-col">
    <div class="col-1-2 intro-photo" aria-hidden="true">
      <img src="{{ '/assets/images/gabriele-baldassarre.png' | relative_url }}"
           alt=""
           loading="eager"
           decoding="async">
    </div>

    <div class="col-1-2">
      <h2 class="intro-heading">{{ site.data.ui-text[site.locale].about_me | default: "About me" }}</h2>
      <hr>
      {{ site.author.bio }}
      {% if site.author.links %}
      <p class="intro-social">
        {% for link in site.author.links %}
          {% if link.label and link.url %}
            <a href="{{ link.url }}" rel="nofollow noopener noreferrer" aria-label="{{ link.label }}" title="{{ link.label }}">
              {% include icon.html name=link.icon default="link" %} {{ link.label }}
            </a>
          {% endif %}
        {% endfor %}
      </p>
      {% endif %}

      <h2 class="intro-heading">{{ site.data.ui-text[site.locale].work | default: "Work" }}</h2>
      <hr>
      <ul>
        <li><b>Head of Technology</b>, Havas Media Italia</li>
        <li><b>Visiting Professor</b>, Università degli Studi di Napoli &mdash; Parthenope</li>
        <li><b>Contrib</b>, <a href="https://www.haiku-os.org/">Haiku</a></li>
        <li><b>Interests</b>, Fisica, Reti Sociali, Fotografia, AI Ethics, 3d Printing</li>
        <li><b>Music</b>, Punk, Classic Rock, Britpop</li>
        <li><b>Books</b>, Saggi di divulgazione scientifica, Fantascienza, Filosofia</li>
      </ul>
    </div>
  </div>
</article>
{% endunless %}

{% for post in paginator.posts %}
<article>
  {%- if post.master %}
    {%- assign card_img = post.master | cloudinary_url: "w_600,c_fill,g_auto,q_auto,f_auto" %}
  {%- elsif post.header.overlay_image %}
    {%- assign card_img = post.header.overlay_image | relative_url %}
  {%- endif %}
  {% if card_img %}
  <div class="featured-image">
    <a href="{{ post.url | relative_url }}" aria-hidden="true" tabindex="-1">
      <img src="{{ card_img }}"
           alt=""
           loading="lazy"
           decoding="async">
    </a>
  </div>
  {% endif %}

  <header>
    <h2 class="entry-title">
      <a href="{{ post.url | relative_url }}"
         rel="bookmark"
         title="{{ post.title | markdownify | strip_html }}"
         itemprop="url">{{ post.title | markdownify | remove: "<p>" | remove: "</p>" }}</a>
    </h2>
  </header>

  <div class="post-byline">
    {% if post.excerpt %}{{ post.excerpt | markdownify | strip_newlines }}{% endif %}
  </div>
  <div class="post-date">
    {% include page_meta.html %}
  </div>
</article>
{% endfor %}

{% include pagination.html %}
