<!doctype html>
<html lang="{{ site.locale | slice: 0,2 | default: 'it' }}" class="no-js">
<head>
  {% include analytics-head.html %}
  {% include head.html %}
</head>
<body id="post-index">
  {% include analytics-body.html %}
  {% include_cached skip-links.html %}
  {% include browser-upgrade.html %}
  {% include navigation.html %}

  <main id="main" role="main" class="container">
    {{ content }}
  </main>

  <footer id="footer" class="footer-wrapper" role="contentinfo">
    <div class="container">
      {% include footer.html %}
    </div>
  </footer>

  {% include scripts.html %}
  <script src="{{ '/assets/js/navigation.js' | relative_url }}" defer></script>
  <script src="{{ '/assets/js/theme-toggle.js' | relative_url }}" defer></script>
</body>
</html>
